

.newsPageSection {
    padding: 80px 0;
}

.newsPageContainer {
    width: 1200px;
    margin: auto;
}

.newsPageTitle {
    margin-bottom: 40px;
}

.newsPageImage {
    height: 400px;
    margin-bottom: 50px;
}






